/* You can add global styles to this file, and also import other style files */
/* @import './styles/bootstrap/dist/css/bootstrap.min.css'; */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/body-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}
